exportPattern("^[^\\.]")
import(zoo)
S3method(ET,BlaneyCriddle)
S3method(ET,BrutsaertStrickler)
S3method(ET,ChapmanAustralian)
S3method(ET,GrangerGray)
S3method(ET,HargreavesSamani) 
S3method(ET,JensenHaise) 
S3method(ET,Makkink)
S3method(ET,MattShuttleworth) 
S3method(ET,McGuinnessBordne) 
S3method(ET,MortonCRAE) 
S3method(ET,MortonCRWE)
S3method(ET,Penman) 
S3method(ET,PenmanMonteith) 
S3method(ET,Penpan) 
S3method(ET,PriestleyTaylor)
S3method(ET,SzilagyiJozsa)
S3method(ET,Turc)
S3method(ET,Hamon)
S3method(ET,Abtew)
S3method(ET,Romanenko)
S3method(ET,Linacre)
importFrom("graphics", "boxplot", "legend", "lines", "par", "plot", "plot.new", "text")
importFrom("stats", "aggregate", "ave", "na.omit", "time")